<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>About Me</h1>
        <table> 
            <tr>
                <td width="20%"> 
                    <img src="/images/perfil.png" width="200" height="250">
                </td>
                <td width="75%">
                    <div class="alert alert-primary" role="alert" height="95%">
                        An enthusiastic and dedicated professional with over 13 years experience in Business Intelligence & Analytics, transforming data into knowledge and actionable insights.
                        Committed and results-oriented who consistently offers innovative solutions focused in process improvement based in technology platforms such as, IBM Cognos, Tableau, Power BI, Microsoft, etc. 
                        Combines a technical and business approach with excellent interpersonal skills to communicate and perform at all levels on the company.

                      </div>
                </td>
            </tr>
            <tr>

            </tr>
        </table>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>