
  <nav class="navbar bg-dark"><img src="/images/serviceslogo.png" width="100" height="100">
<nav class="navbar navbar-expand-lg navbar-light bg-dark ">

    <a class="navbar-brand text-white" href="/">HOME</a>
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item ">
        <a class="nav-link text-white" href="/about">About Me</a>
      </li>
      <li class="nav-item text-white">
        <a class="nav-link text-white" href="/projects">Projects</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-white" href="/services">Services</a>
      </li>
      <li class="nav-item text-white">
        <a class="nav-link text-white" href="/contact">Contact</a>
      </li>
    </ul>
</nav>
</nav>